.comments, .comments-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px 20%;
    gap: 30px;
    width: 500px;
}

.comments-article-div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.comments article, .comments-form {
    border: 1px solid gold;
    background-color: rgb(228, 237, 240);
    color: black;
    ;
    padding: 20px;
}

.comments__textarea {
    height: 200px;
    background-color: rgb(228, 237, 240);
    border: 1px solid gold;
    resize: none;
    color: black;
}

form button {
    background-color: #EA5B1B;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    color: #FFFFFF;
}

form button:hover {
    background-color: #25D366;
    transition: 300ms ease-in-out;
}

form button:hover:disabled {
    background-color: red;
    transition: 300ms ease-in-out;
}

form textarea:focus {
    outline: none;
}

.addFavorite, .edit {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #EA5B1B;
    color: #FFFFFF;
}

.addFavorite:hover, .edit:hover {
    background-color: #25D366;
    transition: 300ms ease-in-out;
}

.showCommentError {
    color: red;
}

.comments__commetWrapper {
    margin-bottom: 15px;
    border: 1px solid gold;
}

.comments__commetWrapper__username {
    border-bottom: 1px dashed grey;
    text-transform: capitalize;
    padding: 5px 0;
    text-align: center;
}

.comments__commetWrapper__message {
    padding: 5px 15px;
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

@media screen and (width < 660px) {
    .comments, .comments-form {
        margin: 5vw;
        width: 90vw;
    }
    .CardComponent__article.medium {
        margin: 5vw;
width: 90vw !important;
    }
}