.catalog-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw 10vw;
    gap: 30px;
}

.catalog-container h1{
    flex-basis: 100%;
    text-align: center;
}

.paginator {
    flex-basis: 100%;
    text-align: center;
    
}

.paginator__text{
    font-size: 20px;
    padding: 0 10px;
}

.paginator__btn {
    font-size: 20px;
}


@media screen and (width < 660px){
    .CardComponent__article.small{
        margin-left: 7vw;
    }
}