<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CardComponent.css">
    <title>Document</title>
</head>

<body>
    <div class="CardComponent__container large">
        <article class="CardComponent__article">
            <section class="CardComponent__top large">
                <img class="CardComponent__img large" src="https://cdn.pixabay.com/photo/2012/11/02/13/02/car-63930_1280.jpg" alt="pic_name">
            </section>
            <section class="CardComponent__bottom large">
                <h5 class="CardComponent__subtitle large">new offer</h5>
                    <h1 class="CardComponent__title large">Why this car is the best?</h1>
                    <p class="CardComponent__info large">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus explicabo nam labore
                        cupiditate, eaque saepe enim possimus ea eius modi, expedita accusamus eveniet voluptatum in
                        dolor, eligendi facilis ab distinctio!</p>
            </section>
        </article>
    </div>
</body>

</html>