.Carousel-Main-Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  /* background: #BA5370;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #F4E2D8, #BA5370); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#Main-Carousel-Container {
  width: 90%;
  height: 310px;
  /* //background-color: gray; */
  position: relative;
  display: flex;
  align-items: center;

}

#carousel {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  padding-top: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;

}

#carousel::-webkit-scrollbar {
  display: none;
}

.carousel-card-image {
  width: 100%;
  height: 230px;
  background-color: rgb(210 210 210 / 31%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;

}

.carousel-card-title, .carousel-card-description {
  margin: 5px 0px 5px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carousel-card-title {
  font-weight: 500;
  margin-top: 10px
}

.carousel-card-description {
  opacity: 0.5;
  font-size: 13px;
}

.carousel-icon.left, .carousel-icon.right {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 12px;
  opacity: 1;
  box-shadow: 2px 2px 0px 2px rgb(0 0 0 / 12%);
  cursor: pointer;

}

.carousel-icon.left:hover, .carousel-icon.right:hover {
  
box-shadow: 4px 4px 0px 2px rgb(0, 0, 0);

}


.carousel-icon.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 0;

}

.carousel-icon.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 0;
}

.carousel-card {
  width: 220px;
  height: 300px;
  background: white;
  border-radius: 10px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.carousel-card-current {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
}

.carousel-card:hover {
  width: 225px;
  height: 305px;
  border-radius: 10px;
  opacity: 1;
  z-index: 99;
  transform: translate3D(0, -1px, 0) scale(1.03);
  box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);
  transition: all .4s ease;
}